################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Com.Moonlay.Service.Auth.WebApi/bin
/Com.Moonlay.Service.Auth.WebApi/obj
/.vs
