sudo: required
dist: trusty
language: csharp
mono: none
dotnet: 1.0.1
solution: Com.Moonlay.Service.Auth.sln
services:
    - docker
env:
    - ASPNETCORE_ENVIRONMENT=Test

before_install:
    #- Dockerfile.test.build.sh
    - docker build -f Dockerfile.test.build -t com-moonlay-service-auth-webapi:test-build . 
    - docker create --name com-moonlay-service-auth-webapi-test-build-container com-moonlay-service-auth-webapi:test-build
    - docker cp com-moonlay-service-auth-webapi-test-build-container:/out bin/publish
    - docker build -f Dockerfile.test -t com-moonlay-service-auth-webapi:test .
    #- dotnet publish ./Com.Moonlay.Service.Auth.WebApi/Com.Moonlay.Service.Auth.WebApi.csproj -o ./bin/publish
    #- docker build -f ./Dockerfile.travis -t moonlay/com-moonlay-service-auth-webapi:$TRAVIS_BUILD_NUMBER .
install: true

before_script:
    - docker-compose -f docker-compose.test.yml up
    #- docker run -p 127.0.0.1:5000:80 --env ASPNETCORE_ENVIRONMENT=Test moonlay/com-moonlay-service-auth-webapi:$TRAVIS_BUILD_NUMBER
script:
    - dotnet test Com.Moonlay.Service.Auth.WebApi.Test/Com.Moonlay.Service.Auth.WebApi.Test.csproj

after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker push moonlay/com-moonlay-service-auth-webapi:$TRAVIS_BUILD_NUMBER;
      fi    