sudo: required
dist: trusty
language: csharp
mono: none
dotnet: 1.0.1
solution: Com.Moonlay.Service.Auth.sln
services:
    - docker
env:
    - ASPNETCORE_ENVIRONMENT=Test

before_install:
    -  bash Dockerfile.test.build.sh 
install: true

before_script:
    - docker-compose -f docker-compose.test.yml up -d
    - sleep 60
script:
    - dotnet restore Com.Moonlay.Service.Auth.WebApi.Test/Com.Moonlay.Service.Auth.WebApi.Test.csproj
    - dotnet build Com.Moonlay.Service.Auth.WebApi.Test/Com.Moonlay.Service.Auth.WebApi.Test.csproj
    - dotnet test Com.Moonlay.Service.Auth.WebApi.Test/Com.Moonlay.Service.Auth.WebApi.Test.csproj 

after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker tag com-moonlay-service-auth-webapi:test moonlay/com-moonlay-service-auth-webapi:v1.0.0.$TRAVIS_BUILD_NUMBER;
      docker push moonlay/com-moonlay-service-auth-webapi:v1.0.0.$TRAVIS_BUILD_NUMBER;

      docker tag com-moonlay-service-auth-webapi:test moonlay/com-moonlay-service-auth-webapi:v1.0.0.latest;
      docker push moonlay/com-moonlay-service-auth-webapi:v1.0.0.latest;
      fi