version: '3'
 
services:
  moonlay-service-auth-webapi-test:
    image: com-moonlay-service-auth-webapi:test
    environment:
      - ASPNETCORE_ENVIRONMENT=Test
      - DefaultConnection=Server=mssql;Database=com.moonlay.db.auth;User=sa;password=Standar123;MultipleActiveResultSets=true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:5000:80"
    links:
      - mssql
  mssql:
    image: microsoft/mssql-server-linux
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Standar123
      - MSSQL_PID=Developer
    expose:
      - "1433"